*{
    font-family:'Poppins', sans-serif;
}

.container_one h1{
    border: 4px none;
    margin: 15px 100px ;
    text-align: center;
    background-color: #e0e0de;
}

.container_two{
    border: 2px solid black;
    padding: 10px;
    margin: 12px 100px ;
}
.container_three{
    border: 2px solid black;
    padding: 10px;
    margin: 25px 100px ;
}

