/* importing font from google*/
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Mooli&display=swap');



/*------------- reseting the default stuff------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

/* ----- audjusting the body, main-container, container---*/

body, html{
    width: 100%;
    height: 100%;
    background-color: #2B2E56;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container h1{
    color: white;
    margin: 20px;
    text-align: center;
}


.container{
    width: 50%;
    height: 40%;
    display: grid; 
    grid-gap: 10px;  
    grid-template-columns:repeat(4, 1fr);   
    grid-template-rows: repeat(3, 1fr);  
    grid-template-areas: "first-items second-items second-items third-items"
    "first-items fourth-items fifth-items sixth-items"
    "first-items seventh-items eigth-items sixth-items";                
}


/*--------------- utility classes for color -------------*/

.color-blue{
    background-color: #2B2E56; /* color for background*/
}

.color-green{
    background-color: #6DBE4F; /* color for items 1, 2, 6. */
}

.color-red{
    background-color: #EC3437; /* color for items  3 , 5 , 7. */
}

.color-yellow{
    background-color: #FBB22F; /* color for items  4 , 6 , 8. */
}


/*-------------------grid adjusting----------------------*/

.items{
    border-radius: 10px;
    padding: 20px;

}

.items1{
   grid-area: first-items;
   padding: 15px;
}

.items2{
    grid-area: second-items;
}

.items3{
    grid-area: third-items;
}

.items4{
    grid-area: fourth-items;
}

.items5{
    grid-area: fifth-items;
}

.items6{
    grid-area: sixth-items;
}

.items7{
   grid-area: seventh-items;
   padding: 15px;
}

.items8{
    grid-area: eigth-items;
}




