*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    font-size: 16px;
    margin: 20px;

}

.container{
    width: 50%;
    height: 50%;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0.6em;
    place-content: space-evenly space-evenly;
}

.items{
    background-color: blueviolet;
}