@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body , html{
    width: 100%;
    height: 100%;
    font-family: 'Dela Gothic One', cursive;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main-container{
    background: #17121c;
    padding: 10px;
    border-radius: 20px;
}

.container{
    width: 50vw;
    height: 50vh;
    /* display is to active the grid in container */
    display: grid;
    /* it is use for create columns */
    grid-template-columns:repeat(2, 1fr);

    /* it is use for create rows */
    grid-template-rows: repeat(3, 1fr);

    /* it use to create a equal gap  */
    /* grid column */
    grid-column-gap: 10px;

    /*  grid row*/
    grid-row-gap: 20px;

    /* both in short hand */
    /* firt row */
    /* second column */
    grid-gap: 10px 10px;
}

.title{
    text-align: center;
    margin: 10px;
    background: #9e10eb;
    border-radius: 20px;
    color: azure;
    padding: 20px;
}

.items{
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    font-family: 'Dela Gothic One', cursive;
    font-size: large;
    background-color: #9e10eb;
}

.items1{
    /* we can palce items in any area by using this property */
    /* grid-row-start: 3;
    grid-row-end: 4; */
    /*  this is shorthand of this row property*/
    grid-row: 3 / 4;

    /* grid-column-start: 2;
    grid-column-end: 3; */
    /* this is shorthand of this column property */
    grid-column: 2 / 3;

    /* one line shorthand  */
    /* first startin of row and starting of column and ending of row and ending of column */

    grid-area: 3 / 2 / 4 / 3
}

.items2{
    /* shorthand using 2 line */
    grid-row: 2 / 3;
    grid-column: 2 / 3; 
 
}

.items3{
    /* using one line to postion the items */
    grid-area: 3 / 1 / 4 / 2;
}