*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    background: rgb(16, 177, 96);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container1{
    width: 50%;
    height:50%;
    background: rgb(0, 217, 255);
    text-align: center;
    padding: 130px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.box1{
    background: #afff1b;
    border-radius: 10px;
    width:50%;
    height:50%;
    margin: 2px;

}
